#GameBoard {
	position: relative;
	margin: auto;
	border-style: solid;
}

#GameBoard .Block {
	position: absolute;
}

#GameBoard #GameOver {
	text-align: center;
	height: 100%;
	flex-direction: column;
	display: flex;
	justify-content: space-around;
}

#GameBoard #Score {
	position: relative;
	top: 105%;
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: rgba(96, 96, 96, 0.431);
	border-radius: 24px;
}

#GameBoard #GameOverText {
	color: #ca0000;
	font-weight: bold;
	text-decoration-line: underline;
}

#GameBoard #PressSpaceText {
	color: #2e7ecb;
	font-weight: bold;
}

@keyframes eatApple {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(2);
	}
	100% {
	  transform: scale(1);
	}
  }
  
  .apple-eaten {
	animation: eatApple 0.5s;
  }
  