.button-relative-container {
  position: relative;
  display: inline-block;
}

.button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.description-container {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.damage-button {
  height: 60px;
  width: 200px;
  font-size: 18px;
  background-color: #be1616;
  transition: 0.3s;
}

.damage-button:hover {
  background-color: #be1616ad;
}

.utility-button {
  height: 60px;
  width: 200px;
  font-size: 18px;
  transition: 0.3s;
  background-color: #119e1c;
}

.utility-button:hover {
  background-color: #119e1cad;
}

.status-button {
  height: 60px;
  width: 200px;
  font-size: 18px;
  transition: 0.3s;
  background-color: #1955c5;
}

.status-button:hover {
  background-color: #1955c5ad;
}

.spell-cost-value {
  font-weight: bold;
  color: #1955c5;
}

.cancel-button {
  font-size: 14px;
  transition: 0.3s;
  background-color: #a80e0e;
}

.cancel-button:hover {
  background-color: #a80e0ead;
}

.start-game-button {
  background-color: #2f9133;
}

.start-game-button:hover {
  background-color: #4caf50ad;
}

.ready-button {
  background-color: #2f9133;
}

.ready-button:hover {
  background-color: #4caf50ad;
}

.not-ready-button {
  background-color: #a80e0e;
}

.not-ready-button:hover {
  background-color: #a80e0ead;
}

.button-disabled {
  background-color: #c0c0c0 !important;
  cursor: not-allowed;
}

.target-container {
  margin: 5rem auto;
}
.button-target {
  background-color: #25EAE4;
  box-shadow: 0 3px 14px #3bd4c784;
  font-weight: bold;
  outline: 0;
  border: 0;
}
